---
import Title from "../components/Title.astro";
import Button from "../components/Button.astro";
---

<section class="about">
  <img src="profile-photo.jpg" alt="my-profile"/>
  <article>
    <p>¡Hola!, Soy Luis Romero</p>
    <Title text="Desarrollador de software" />
  </article>
  
  <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
    <div class="space-x-1 flex text-sm font-medium">
      
      <Button
        message="Mira mi CV (ES)"
        icon="/icons8-cv-24.png"
        link="https://drive.google.com/file/d/1ctaeAbDzg4Qpa5USJB7gQkk9dtxy8lA-/view?usp=drive_link"
        target="_blank"
      />
      <Button
        message="Mira mi CV (EN)"
        icon="/icons8-cv-24.png"
        link="https://drive.google.com/file/d/1ctaeAbDzg4Qpa5USJB7gQkk9dtxy8lA-/view?usp=drive_link"
      />
    </div>
  </div>
</section>

<style>
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: calc(100vh - 50px);
    text-align: center;
    border-bottom: 1px solid rgb(30, 30, 30, 0.3);
    padding: 0 20px;
  }

  .about > img {
    width: 150px;
    border-radius: 9999px;
    object-fit: cover;
  }

  .about > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}

		.about > img {
			width: 100px;
		}
	}
</style>
