---
import Title from "../components/Title.astro";
import Button from "./Button.astro";
---

<section class="contact">
  <Title text="Tell me about your next project" />
  <Button
    message="Send Message"
    icon="/email.svg"
    link="mailto:lromerovivas6@gmail.com"
  />
</section>