---
import Title from "../components/Title.astro";
import Button from "./Button.astro";
---

<section class="contact">
  <Title text="Tell me about your next project" />
  <Button
    message="Send Message"
    icon="/email.svg"
    link="mailto:lromerovivas6@gmail.com"
  />
</section>

<style>
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 0px 20px 100px 20px;
  }
</style>
