---
import Title from "../components/Title.astro";
import Button from "./Button.astro";
---

<section class="contact">
  <Title text="Contáctame aquí si lo deseas" />
  <Button
    message="Enviar mensaje"
    icon="/email.svg"
    link="mailto:lromerovivas6@gmail.com"
  />
</section>