---
const year = new Date().getFullYear();
---

<footer>
  <span>{year} Luis Miguel Romero Vivas.</span>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/luisrom66/" target="_blank">Linkedin</a>
    </li>
    <li>
      <a href="https://github.com/luisrom661" target="_blank"> Github</a>
    </li>
  </ul>
</footer>