<nav class="navbar">
  <span>Luis Miguel Romero Vivas</span>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/luisrom66/" target="_blank">
        <img
          class="icons"
          src="/public/icons8-linkedin-16.png"
          alt="Descripción de la imagen"
        />
         Linkedin
      </a>
    </li>
    <li>
      <a href="https://github.com/luisrom661" target="_blank">
        <img
          class="icons"
          src="/public/icons8-github-16.png"
          alt="Descripción de la imagen"
        />
         Github
      </a>
    </li>
    <li class="contact-btn">
      <a href="mailto:lromerovivas6@gmail.com">
        <img
          class="icons"
          src="/public/icons8-email-16.png"
          alt="Descripción de la imagen"
        />
         Contacto
      </a>
    </li>
  </ul>
</nav>