---
import { projects } from "../assets/data";
import ProjectCard from "./ProjectCard.astro";
import Title from "../components/Title.astro";
---

<Title text="Proyectos" />
<div
  class="grid mx-auto gap-6 mb-8 xl:grid-cols-3 xl:w-4/5 lg:grid-cols-3 md:w-[85%] md:grid-cols-2 xs:grid-cols-1 xs:w-[90%]"
>
  {
    projects.map((card) => (
      <ProjectCard
        title={card.title}
        description={card.description}
        image={card.image}
      />
    ))
  }
</div>
