---
import Title from "../components/Title.astro";
---

<section class="skills">
  <Title text="Habilidades y Tecnologías" />
  <section>
    <article class="skill-card">
      <img src="/icons8-devops-60.png" alt="card icon" />
      <h3>DevOps</h3>
      <p>Automating processes with Python and its different libraries</p>
    </article>
    <article class="skill-card">
      <img src="/icons8-backend-60.png" alt="card icon" />
      <h3>Desarrollo Backend</h3>
      <p>
        Databases like PostgreSQL and MongoDB. Developing APIs with JavaScript
        and Python
      </p>
    </article>
    <article class="skill-card">
      <img src="/icons8-web-design-60.png" alt="card icon" />
      <h3>Desarrollo Frontend</h3>
      <p>
        Developing websites with JavaScript and the best Frameworks like React,
        Vue, and Astro
      </p>
    </article>
  </section>
</section>

<style>
  .skills {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgb(30, 30, 30, 0.3);
    padding: 0px 20px 100px 20px;
  }

  .skills > section {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 260px;
    min-height: 210px;
    background-color: #1e1e1e;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
  }

  .skill-card > img {
    text-align: center;
    width: 50px;
  }

  .skill-card > h3 {
    font-size: 20px;
    font-weight: 400;
  }
  .skill-card > p {
    font-weight: 100;
    font-size: 14px;
  }
</style>
