---
import Title from "../components/Title.astro";
import Modal from "../components/Modal.astro";
import { useState } from 'astro/hooks';

let [isOpen, setIsOpen] = useState(false);
function openModal() {
  setIsOpen(true);
}
function closeModal() {
  setIsOpen(false);
}
---

<section class="skills">
  <Title text="Habilidades y Tecnologías" />
  <section>
    <article class="skill-card">
      <img src="/icons8-devops-60.png" alt="card icon" />
      <h3>DevOps</h3>
      <p>Conocimientos intermedios donde automatizo, gestiono, y superviso sistemas y operaciones de software.</p>
      <a
        class="parent-container scroll-mt-48 hover:scale-[105%] transition-all duration-300 ease-in relative border-white/80 bg-cover bg-center h-[30px] cursor-pointer"
        href="/devops"
        transition:name={`image-devops`}
      >
        <button class="btnTech"> Ver más</button>
      </a>
    </article>
    <article class="skill-card">
      <img src="/icons8-backend-60.png" alt="card icon" />
      <h3>Desarrollo Backend</h3>
      <p>
        Conocimientos intermedios donde desarrollo, mantengo, y optimizo servidores y bases de datos.
      </p>
      <a
        class="parent-container scroll-mt-48 hover:scale-[105%] transition-all duration-300 ease-in relative border-white/80 bg-cover bg-center h-[30px] cursor-pointer"
        href="/devops"
        transition:name={`image-devops`}
      >
        <button class="btnTech"> Ver más</button>
      </a>
    </article>
    <article class="skill-card">
      <img src="/icons8-web-design-60.png" alt="card icon" />
      <h3>Desarrollo Frontend</h3>
      <p>
        Conocimientos básicos donde diseño, construyo, y pruebo interfaces de usuario.
      </p>
      <a
        class="parent-container scroll-mt-48 hover:scale-[105%] transition-all duration-300 ease-in relative border-white/80 bg-cover bg-center h-[30px] cursor-pointer"
        href="/devops"
        transition:name={`image-devops`}
      >
        <button class="btnTech"> Ver más</button>
      </a>
    </article>
  </section>
</section>